ul a {
    margin-left: 270px;
    text-decoration: none;
    color: white;
}

header ul {
    margin-bottom: 50px;
    background-color:tomato;
    margin-top: 0px;
    height: 30px;
}
.footer {
    background-color: grey;
    line-height: 50px;
    text-align: center;
    font-weight: 900;
}
main p {
    text-align: center;
    margin-top: px;
}